.AMD/
.Mathematica/
.Skype/
.Xauthority
.adobe/
.asoundrc.bkp
.bash_history
.btsync/
.bundle/
.cache
.cups
.dropbox
.dropbox-dist
.esd_auth
.g15macro
.gnupg
.gnuplot_history
.gstreamer-0.10
.gtkrc-2.0
.ipython
.jahuwaldt.Digitizer.props
.java
.jd
.kde4
.klei
.local
.lyrics
.lyx
.macromedia
.mozilla
.npm
.pciids-cache
.pki
.pulse-cookie
.pwsafe.dat
.pwsafe.dat~
.pyrit
.python_history
.rnd
.sage
.sane
.ssh
.steam
.steampath
.steampid
.subversion
.swp
.texlive
.thumbnails
.ts3client
.v8flags.4.6.85.31.rbarriga.json
.zcompdump
.zdirs
.zsh_history
Desktop
Documents
Downloads
Dropbox
Extended_disk
Mathematica_9
Music
curriculum
datos
doctorado
proyects
unsorted
