Desktop
Downloads
Extended_disk
Music
datos
unsorted
Documents
Dropbox
Mathematica_9
curriculum
doctorado
proyects
.Xauthority
.asoundrc.bkp
.bash_history
.esd_auth
.gitconfig
.gitignore
.gnuplot_history
.gtkrc-2.0
.pciids-cache
.pulse-cookie
.python_history
.steampath
.steampid
.swp
.v8flags.4.6.85.31.rbarriga.json
.viminfo
.vimrc
.vundle.vim
.xinitrc
.zcompdump
.zdirs
.zsh_history
.zshrc
.AMD:
GLCache
.Mathematica:
Applications
Autoload
FrontEnd
Kernel
Licensing
Paclets
SystemFiles
.Skype:
DataRv
raulonco
shared.lck
shared.xml
shared_dynco
shared_httpfe
.StarMade:
.adobe:
Flash_Player
.btsync:
12977647706128867946.1450296127.journal
3047968166515395062.1450296209.journal
78A58334D0883435525D7D4C5E3F3921AAE5AEF0.1.db
78A58334D0883435525D7D4C5E3F3921AAE5AEF0.availability
856274526A25DF8A88CB2CC0E625A02B43A0840D.13.db
856274526A25DF8A88CB2CC0E625A02B43A0840D.availability
FileDelayConfig
debug.txt
history.dat
history.dat.old
settings.dat
settings.dat.old
sync.dat
sync.dat.old
sync.lng
sync.log
webui.zip
.bundle:
config
.cache:
ImageMagick
SYS_ALL_UNITS
SYS_REALLY_ALL_UNITS
bower
calibre
ctrlp
event-sound-cache.tdb.6749db37f0f64e50aebac010d88169f6.x86_64-unknown-linux-gnu
event-sound-cache.tdb.oakenshield.x86_64-unknown-linux-gnu
fontconfig
gstreamer-1.0
icon-cache.kcache
inkscape
ksycoca5_C_WVqN_c97ystMJDhrFJhBotUKHdQ=
matplotlib
modules-4.4.5-1-ARCH
mopidy
mozilla
openbox
pacaur
pacman_packages
pip
qt_compose_cache_little_endian_6749db37f0f64e50aebac010d88169f6
socat-groups
socat-opt-groups
socat-opt-types
socat-params
stremio
transmission
vlc
.config:
Engauge
ImageMagick
Kalypso
Media
LyX
Mendeley
Ltd.
Popcorn-Time
Popcorn-Time-CE
QtProject.conf
Skype
Thunar
Trolltech.conf
Unknown
Organization
VirtualBox
aurvote
autostart
btsync
calibre
cef_user_data
configstore
conky-manager.json
dconf
deadbeef
exportmodule.conf
filezilla
gconf
gnome15
gnuplot
google-googletalkplugin
gtk-2.0
gtk-3.0
htop
inkscape
kactivitymanagerdrc
katepartrc
katerc
katevirc
kconf_updaterc
kdeglobals
libreoffice
matplotlib
mimeapps.list
mopidy
mpd
nitrogen
node-webkit
okularpartrc
okularrc
openbox
pavucontrol.ini
pulse
ranger
stremio
systemd
terminator
todo
transmission
unity3d
vlc
xarchiver
xfce4
xm1
.conky:
Common
Oakenshield
bargraph_small.lua
conkygraphics.sh
draw_bg_conkyrc1.lua
draw_bg_conkyrc2.lua
fonts
mpd.awk
script
.cups:
lpoptions
.dropbox:
command_socket
dropbox.pid
host.db
iface_socket
info.json
instance1
instance_db
logs
unlink.db
.dropbox-dist:
VERSION
dropbox-lnx.x86_64-3.18.1
dropboxd
.fonts:
AvantGarde_LT_Medium.ttf
GE_Inspira.ttf
PIZZADUDEBULLETS.ttf
PIZZADUDESTARS.ttf
Radiof.ttf
Radiofb.ttf
Radiofbi.ttf
Radiofc.ttf
Radiofi.ttf
STYLBCC_.TTF
Ubuntu.ttf
openlogos.ttf
wef_____.ttf
.g15macro:
g15macro.conf
.git:
COMMIT_EDITMSG
HEAD
branches
config
description
hooks
index
info
logs
objects
refs
.gnupg:
crls.d
dirmngr.conf
gpg.conf
pubring.kbx
trustdb.gpg
.gstreamer-0.10:
registry.x86_64.bin
.icons:
ACYL_Icon_Theme_0.9.4
default
.ipython:
extensions
nbextensions
profile_default
.java:
fonts
.jd:
Core.jar
JD2.lock
JD2.port
JDownloader.jar
JDownloader.pid
build.json
cfg
extensions
java
jd
libs
license.txt
license_german.txt
licenses
logs
themes
tmp
tools
translations
update
.kde4:
cache-oakenshield
share
socket-oakenshield
tmp-oakenshield
.klei:
DoNotStarve
DoNotStarveTogether
.local:
share
.lyrics:
A
Perfect
Circle

Imagine.txt
Tool

Reflection.txt
.lyx:
bibFiles.lst
bind
bstFiles.lst
cache
clipart
clsFiles.lst
configure.log
doc
examples
images
kbd
layouts
lyxmodules.lst
lyxrc.defaults
packages.lst
scripts
session
styFiles.lst
templates
textclass.lst
ui
.macromedia:
Flash_Player
.mozilla:
extensions
firefox
.ncmpcpp:
config
error.log
.npm:
URIjs
_git-remotes
_locks
abab
abbrev
accord
acorn
acorn-globals
addr-to-ip-port
adm-zip
airplay-js
align-text
ambi
amdefine
ansi
ansi-regex
ansi-styles
archiver
archiver-utils
archy
argparse
array-differ
array-filter
array-find-index
array-map
array-reduce
array-union
array-uniq
arrify
asap
ascli
asn1
assert-plus
async
aws-sign
aws-sign2
aws4
balanced-match
base64-js
beeper
bencode
better-curry
binary
binary-search-tree
bitfield
bittorrent-dht
bittorrent-tracker
bl
blob-to-buffer
block-stream
bluebird
bn.js
bncode
boolbase
boom
bower
bower-config
bower-endpoint-parser
bower-json
bower-logger
bower-registry-client
brace-expansion
browser-fingerprint
buffer-crc32
buffer-equal
buffer-equals
buffers
bufferview
builtin-modules
butter-provider
butter-provider-haruhichan
butter-provider-tvapi
butter-provider-vodo
butter-provider-yts
butter-sanitize
butter-settings-popcorntime.io
bytebuffer
camelcase
camelcase-keys
capture-stack-trace
cardinal
caseless
castv2
castv2-client
center-align
chainsaw
chalk
cheerio
chmodr
chromecast-js
cli
cli-color
cli-width
cliui
clivas
clone
clone-stats
code-point-at
coffee-script
color-convert
colors
colour
combined-stream
commander
compact2string
component-emitter
compress-commons
concat-map
concat-stream
config-chain
configstore
console-browserify
convert-source-map
cookie-jar
cookiejar
core-js
core-util-is
crc32-stream
create-error-class
cryptiles
csextends
css-parse
css-select
css-what
cssom
cssstyle
ctype
cuid
cyclist
d
dashdash
date-now
dateformat
debug
decamelize
decompress-zip
deep-extend
deep-is
defaults
defer-request
del
delayed-stream
depd
deprecate
deprecated
destroy
dom-serializer
domelementtype
domhandler
domutils
duplexer2
eachr
ecc-jsbn
editions
ee-first
elementtree
end-of-stream
entities
error-ex
es5-ext
es5class
es6-iterator
es6-symbol
es6-weak-map
escape-html
escape-string-regexp
escodegen
esnextguardian
esprima
estraverse
esutils
etag
event-emitter
eventemitter2
eventemitter3
exit
extend
extendr
extract-opts
extsprintf
fancy-log
fast-levenshtein
faye-websocket
fifo
figures
fill-keys
find-index
find-up
findup-sync
first-chunk-stream
flagged-respawn
flatten
fobject
forever-agent
form-data
formidable
fresh
fs-chunk-store
fs-extra
fstream
fstream-ignore
gaze
generate-function
generate-object-property
get-browser-rtc
get-stdin
getobject
gitlab
glob
glob-stream
glob-watcher
glob2base
globby
globule
glogg
got
graceful-fs
graceful-fs-extra
graceful-ncp
graceful-readlink
grunt
grunt-bower-clean
grunt-contrib-clean
grunt-contrib-compress
grunt-contrib-jshint
grunt-contrib-stylus
grunt-contrib-watch
grunt-exec
grunt-githooks
grunt-jsbeautifier
grunt-legacy-log
grunt-legacy-log-utils
grunt-legacy-util
grunt-nw-builder
grunt-shell
gulp
gulp-stylus
gulp-util
gulplog
handlebars
har-validator
has-ansi
has-color
has-gulplog
hat
hawk
hoek
hooker
hosted-git-info
htmlparser2
http-errors
http-signature
i18n
iconv-lite
ignorefs
ignorepatterns
immediate-chunk-store
indent-string
indx
inflight
inherits
ini
inquirer
insight
interpret
intersect
invert-kv
ip
ip-set
ipaddr.js
is-arrayish
is-buffer
is-builtin-module
is-finite
is-fullwidth-code-point
is-my-json-valid
is-object
is-path-cwd
is-path-in-cwd
is-path-inside
is-plain-obj
is-property
is-redirect
is-retry-allowed
is-root
is-stream
is-typedarray
is-utf8
isarray
isstream
jodid25519
js-beautify
js-yaml
jsbn
jschardet
jsdom
jshint
json-rpc2
json-schema
json-stringify-safe
jsonfile
jsonify
jsonparse
jsonpointer
jsprim
jszip
junk
k-bucket
k-rpc
k-rpc-socket
kat-api
keypress
kind-of
latest-version
lazy-cache
lazystream
lcid
levn
liftoff
load-grunt-tasks
load-json-file
localforage
lockfile
lodash
lodash._baseassign
lodash._basecopy
lodash._basetostring
lodash._basevalues
lodash._bindcallback
lodash._createassigner
lodash._getnative
lodash._isiterateecall
lodash._isnative
lodash._objecttypes
lodash._reescape
lodash._reevaluate
lodash._reinterpolate
lodash._root
lodash.assign
lodash.debounce
lodash.escape
lodash.isarguments
lodash.isarray
lodash.isfunction
lodash.isobject
lodash.keys
lodash.now
lodash.restparam
lodash.template
lodash.templatesettings
long
longest
loud-rejection
lowercase-keys
lru
lru-cache
lru-queue
magnet-uri
make-plural
map-obj
markdown
math-interval-parser
mdns-js
mdns-js-packet
memoizee
meow
merge-descriptors
messageformat
methods
mime
mime-db
mime-types
minimatch
minimist
mkdirp
mkpath
module-not-found-error
moment
mout
ms
multimatch
multipipe
mustache
mute-stream
mv
ncp
nedb
network-address
next-tick
nib
node-captions
node-fingerprint
node-int64
node-ssdp
node-status-codes
node-tvdb
node-uuid
node-webkit-fdialogs
nodecast-js
nopt
noptify
normalize-package-data
normalize-path
npmconf
npmlog
nth-check
number-is-nan
numeral
nw-builder
nw-gyp
nwmatcher
oauth-sign
object-assign
on-finished
once
open
opensubtitles-api
opn
optimist
optionator
options
optjs
orchestrator
ordered-read-streams
os-homedir
os-locale
os-name
os-tmpdir
osenv
osx-release
p-throttler
package-json
pako
parse-json
parse-torrent
parse-torrent-file
parse5
path-exists
path-is-absolute
path-is-inside
path-type
peer-wire-protocol
peer-wire-swarm
peerflix
pify
pinkie
pinkie-promise
pkg-up
platform-overrides
plist
plist-with-patches
pop-iterate
popcorn-txt-api
prelude-ls
prepend-http
pretty-bytes
pretty-hrtime
process-nextick-args
progress
promise
promptly
proto-list
protobufjs
proxyquire
pseudomap
pump
punycode
q
qap
qs
querystring
random-access-file
random-iterate
range-parser
rarbg-api
rc
rcedit
re-emitter
read
read-all-stream
read-pkg
read-pkg-up
read-torrent
readable-stream
readdirp
readline2
rechoir
redent
redeyed
reduce-component
registry-url
registry.npmjs.org
repeat-string
repeating
replace-ext
request
request-progress
request-replay
resolve
resolve-from
resolve-pkg
retry
right-align
rimraf
run-parallel
run-sequence
run-series
rusha
rx
safefs
sanitizer
sax
scandirectory
semver
semver-diff
send
sequencify
shell-quote
shelljs
should
should-equal
should-format
should-type
sigmund
signal-exit
simple-get
simple-glob
simple-peer
simple-sha1
simple-websocket
slumber
sntp
source-map
sparkles
spdx-correct
spdx-exceptions
spdx-expression-parse
spdx-license-ids
speedometer
sprintf
sprintf-js
sshpk
statuses
stream-buffers
stream-consume
strike-api
string-length
string-width
string2compact
string_decoder
stringify-object
stringstream
strip-ansi
strip-bom
strip-indent
strip-json-comments
stylus
superagent
superagent-promise
supports-color
symbol-tree
tar
tar-fs
tar-stream
taskgroup
temp
thirty-two
throttleit
through
through2
thunky
tildify
time-stamp
timed-out
timers-ext
tiny-lr-fork
tmp
torrent-discovery
torrent-piece
torrent-stream
torrent-tracker
torrent-tracker-health
touch
tough-cookie
tr46
trakt.tv
trakt.tv-ondeck
traverse
trim-newlines
tunnel-agent
tweetnacl
type-check
typechecker
typedarray
uglify-js
uglify-to-browserify
uid-number
ultron
underscore
underscore.string
uniq
unique-stream
unzip-response
update-notifier
upnp-device-client
upnp-mediarenderer-client
urijs
url-parse-lax
user-home
util-deprecate
utp
uuid
v8flags
validate-npm-package-license
verror
vinyl
vinyl-fs
vinyl-sourcemaps-apply
watchr
weak-map
webidl-conversions
websocket-driver
websocket-extensions
whatwg-url-compat
when
which
win-release
window-size
windows-no-runnable
winresourcer
wordwrap
wrap-ansi
wrappy
ws
xdg-basedir
xml-name-validator
xml2js
xmlbuilder
xmldom
xmlrpc
xregexp
xtend
y18n
yallist
yamljs
yargs
zip-stream
.pki:
nssdb
.pyrit:
config
.sane:
xsane
.ssh:
id_rsa
id_rsa.pub
known_hosts
.steam:
bin
bin32
bin64
registry.vdf
root
sdk32
sdk64
steam
steam.pid
steam.pipe
steam_install_agreement.txt
.subversion:
README.txt
auth
config
servers
.texlive:
texmf-var
.themes:
120386-Turquoise
Nights
Ob.obt
Arkid
Boje-Blue
Boje-Green
Boje-Greyscale
Boje-Orange
Boje-Red
Boje-Turquoise
Boje-Violet
Boje-Yellow
Boje.emerald
Elegant
Brit
Ma.Fa.
Moka
Nightmare
Nova
Siva
Turquoise-Nights
awesome
crazymothafucka
wallpapers
.thumbnails:
normal
.ts3client:
cache
chats
crashdumps
logs
resolved.dat
settings.db
subscribemode.dat
ts3clientui_qt.secrets.conf
urls.db
.vim:
bundle
doc
plugin
syntax
.themes/ 
.lyrics/
.config/Kalypso\ Media/
 .config/Mendeley\ Ltd./
.config/Unknown\ Organization/
